@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.mainBox{
    display:flex;
    text-align:center; 
    align-items: center;
    justify-content:center;
    flex-direction:column;
    height:80vh;
}

a{
    text-decoration: none;
    color: royalblue;
}
small{
    margin: 1rem 0 0 0;
}
.link{
    color: white;
    font-weight: bold;
    background-color: #4169e1;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

form{
    display: flex;
    flex-direction: column;
    width: 8    0vw;
}